
.head {
    font-family: Verdana, Tahoma, sans-serif;
    color: antiquewhite;
    text-align: center;
}

.neonText {
    color: bisque;
    text-shadow: 
    0 0 7px #ffd700,
    0 0 10px #ffd720,
    0 0 15px #ffd820;
}

body {
    color: gold;
    background-image: linear-gradient(to right, rgb(140, 8, 107) , rgb(205, 99, 13));
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}

#grad {
    background-image: linear-gradient(to right, red , yellow);
  }
img {
    max-width: 50%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 20px;
    
}

.button {
    background-color: indigo;
    color: gold;
    border-radius: 16px;
    border-style: none;
    text-shadow: black 1px 1px 0;
    width: 200px;
    height: 30px;
    box-shadow: 0px 0px 2px 2px goldenrod;
    font-size: 13px;
}

.button:hover {
    transition: 0.3s;
    color: bisque;
    text-shadow: 
    0 0 7px #ffd700,
    0 0 10px #ffd720,
    0 0 15px #ffd820,
    0 0 25px #ffd890,
    0 0 30px #ffd970;
}

.button:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px gold;
    
}

img
{
-moz-box-shadow: 0 0 7px #ffd700;
-webkit-box-shadow: 0 0 10px #ffd720;
box-shadow: 0 0 40px #ffd890;
}